@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff);    
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
  padding: 28px 0 133px;
  margin-bottom: 58px;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.header-wrapper {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 16px;
}
.header-logo-img {
    width: 180px;
}
.checkbox {
    display: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
}
.menu-list {
   display: flex;
   align-items: center;
}
.menu-list-item:not(:last-child) {
  margin-right: 35px;
}
.menu-link {
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
}
.menu-link:hover {
    text-decoration: underline;
}
.header-title {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #FFFFFF;
    line-height: 1.6;
    text-align: center;
    max-width: 700px;
    margin: 103px auto 0;
}
/* //в тренде */
.trend-wrapper {
    margin: 0 auto 66px;
   }
   .trend-header {
    margin: 0;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.25rem;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
   }
   .trend-header::after {
       content: "";
       display: block;
       position: relative;
       margin: 8px auto 28px;
       width: 4.1rem;
       height: 0.2rem;
       background-color: #E1D9BD;
   }
   .trend {
        display: flex;
        gap: 4px;
    }
   .trend-post {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 25%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 0;
        padding: 134px 24px 16px;
        box-sizing: border-box;
    }
   .trend-post::after {
       content: "";
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: #000000;
       opacity: 0.6;
       z-index: -1;
   }
   .trend-main {
       outline: 3px solid #b59f5b;
       justify-content: center;
       padding: 20px 58px 29px 34px;
   }
   .trend-tag {
       display: flex;
       margin-bottom: 5px;
       gap: 10px;
   }
   .trend-tag__link {
       font-family: OpenSans-Bold, sans-serif;
       font-size: 0.9rem;
       color:#b59f5b;
       text-transform: uppercase;
   }
   .trend-tag__link:hover {
       text-decoration: underline;
       cursor: pointer;
   }
   .treand-title-link {
       font-size: 1.2rem;
       color: #FFFFFF;
       text-transform: uppercase;
       width: 80%;
   }
   .treand-title-link:hover {
       color: #b59f5b;
   }
   .trend-garden {
       background-image: url("../images/trend1.jpg") ;
   }
   .trend-cheese {
       background-image: url("../images/trend2.jpg")
   }
   .trend-hike {
       background-image: url("../images/trend3.jpg")
   }
   .trend-lemonade {
       background-image: url("../images/trend4.jpg")
   }

/* //основная страница */
.page-wrapper {
    max-width: 1200px;
    margin: 0 auto 56px;
    display: flex;
    padding: 0 30px;
}
.main {
    width: 66%;
}
.news {
    display: flex;
}
.news:not(:last-child){
    margin-bottom: 62px ;
}
.news-text {
    margin-left: 30px;
}
.news-img {
  display: block;
}
.news-text {
    margin-left: 30px;
}

.news-tags {
    list-style: none;
}
.news-tag-item:not(:last-child) {
    margin-right: 14px;
}
.news-tag-item {
    display: inline;
}
.news-tag-item:hover {
    text-decoration: underline;
}
.news-tag-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #B59F5B;
}
.news-name {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #0F0D0E;
    line-height: 1.25;
    padding-right: 25px;
    margin-bottom: 32px;
}
.news-name-link:hover {
    color:#B59F5B;
}
.news-text-meta {
    margin-bottom: 45px;
}
.news-time {
    font-size: 0.75rem;
    color: #888888;
    margin-right: 7px;
}
.news-author {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.75rem;
    color: #000000;
}
.news-text-about {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #0F0D0E;
}
.news-text-about > p:not(:first-child) {
    margin-top: 10px;
}
.aside {
    margin-left: 108px;
    max-width: 272px;
}
.new-posts-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.85rem;
    line-height: 1.2;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.new-posts-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.new {
    display: flex;
    /* height: 74px; */
    box-sizing: border-box;
    margin-bottom: 10px;
}
.new-post-link {
    margin-top: 8px;
    display: block;
    width: 70px;
}
.new-post {
    padding-left: 16px;
}
.new-post-date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
.new-post-name {
    line-height: 1;
}
.new-post-name-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #000000;
}

.new-post-name-link:hover {
    color: #B59F5B;
} 

.search {
    width: 100%;
    height: 48px;
    display: flex;
    margin-top: 56px;
}
.search-group {
    flex-grow: 1;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.search-field {
    /* box-sizing: border-box; */
    border: none;
    background-color: #f4f7f6;
    color:#000000;
    width: 100%;
    height: 100%;
    padding-left: 19px;
    font-size: 0.8rem;
    line-height: 40px;
    opacity: 0.54;
    flex-grow: 1;
}
.search-field:focus {
    border: 1px solid #B59F5B;
}
button {
    cursor: pointer;
}
.search-button {
    width: 48px;
    background-color: #B59F5B;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 18px;
    flex-grow: 0;
    flex-shrink: 0;
}
.search-button:hover {
    background-color: #323232;
}

/* рассылка */
.aside-item-mailing {
    margin-top: 60px;
    text-align: center;
}
.mailing-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.9rem;
    line-height: 1.1;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
}
.mailing-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 14px auto 22px;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.mailing-field {
    box-sizing: border-box;
    border: none;
    font-size: 13px;
    line-height: 40px;
    width: 100%;
    height: 48px;
    padding: 0 18px;
    background-color: #f4f7f6;
    opacity: 0.54;
    display: block;
}
.mailing-field:focus {
    border: 1px solid #B59F5B
}
.mailing-button {
    margin-top: 18px;
    width: 100%;
    height: 48px;
    background-color: #B59F5B;
    color:#fff;
    border: none;
    font-size: 14px;
    line-height: 40px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
}
.mailing-button:hover {
    background-color: #000000;
}
/* теги */
.aside-item-tags {
    margin-top: 56px;
    text-align: center;
    text-transform: uppercase;
}
.tags-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.9rem;
    line-height: 1.2;
    color: #0f0d0e;
}
.tags-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 11px auto 17px;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.tag {
    border: 3px solid #f3f3f1;
    margin-top: 6px;
    margin-right: 5px;
    padding: 3px 14px;
}
.tag:hover {
    border: 3px solid #B59F5B;
}
.tag-link {
    font-size: 0.75rem;
    font-family: OpenSans-Bold, sans-serif;
    color: inherit;
    text-transform: uppercase;
}
/* темы */
.aside-item-themes {
    margin-top: 55px;
}
.themes-top {
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #0F0D0E;
    line-height: 1.2;
}
.themes-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.themes-list {
    list-style: none;
}
.theme {
    margin-top: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEEEE;
}
.theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 0.9rem;
}
.theme-link:hover {
    color: #B59F5B;
}
.theme-link-quantity {
    display: inline-block;
    vertical-align: top;
    color: #B59F5B;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 0.75rem;
}
/* /изделия/ */
.chapter-goods {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 16px;
}
.chapter-goods__title {
    font-size: 1.25rem;
    font-family: OpenSasns-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
}
.chapter-goods__title::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.goods {
    display: flex;
    gap: 66px;
    margin-bottom: 65px;
}
.goods-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
}
.goods-item__img {
    display: flex;
    justify-content: center;
}
.goods-item__border {
    border: 3px solid #b59f5b;
    margin-top: -30px;
    position: relative;
    flex-grow: 1;
    padding-bottom: 26px;
}
.goods-item__content {
    padding-left: 24px;
    margin-bottom: 23px;
    margin-right: 20px;
}
.goods_item__title {
    font-size: 1.25rem;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 52px;
}
.goods-item__text {
    width: 301px;
    font-size: 0.94rem;
    line-height: 22px;
    padding-bottom: 10px;
}
.goods-item__link {
    color: #b59f5b;
    cursor: pointer;
}
.goods-item__link:hover {
    text-decoration: underline;
}
.item-price-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 22px;
    align-items: flex-end;
}
.goods-item__price {
    margin-left: 23px;
    font-family: OpenSasns-Bold, sans-serif;
    text-transform: uppercase;
}
.goods-price-old {
    text-decoration:line-through;
    font-size: 0.8rem;
    display: block;
}
.goods-price-new {
    font-size: 1.25rem;
    display: block;
}
.goods-item__btn {
    width: 140px;
    height: 48px;
    background-color: #B59F5B;
    color:#fff;
    border: none;
    font-size: 0.8rem;
    line-height: 40px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
}
/* footer */
.footer {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 16px;
}
.footer-content {
    padding: 0 15px;
}
.social {
    box-sizing: content-box;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    margin-bottom: 70px ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-list {   
    list-style: none;
    display: flex;
    gap: 27px;
}
.social-resource-link {
    height: 22px;
    width: 22px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
.link-dribble {
    background-image: url(../svg/001-dribbble.svg)
}
.link-pinterest {
    background-image: url(../svg/002-pinterest.svg)
}
.link-tumblr {
    background-image: url(../svg/003-tumblr.svg)
}
.copyright {
    font-family: OpenSans-Bold, sans-serif ;
    font-size: 0.75rem ;
    color: #999999;
    text-align: center;
    margin-bottom: 40px;
}
/* /// окно */
.popup {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 390px;
    position: fixed;
    top: 240px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}
.popup::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.popup-btn-close {
    position: absolute;
    top: -30px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.btn-close {
    width: 18px;
    height: 18px;
    border: none;
    background-color: inherit;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.popup-wrapper {
    background-color: #fff;
    padding-top: 46px;
}
.popup-title {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.popup-title::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 10px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.popup-form {
    font-size: 0.8rem;
    padding: 0 30px 54px;
}
.popup-select {
    margin-bottom: 32px;
}
.popup-select__text {
    height: 48px;
    width: 100%;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
    margin-top: 8px;
    color:#000000;
    opacity: 0.6;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background-image: url(../svg/form-arrows.svg);
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: right 14px center;
}
.popup-select:focus {
    outline: 1px solid #b59f5b;
}
.popup-select-radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.popup-radio-text {
    width: 100%;
    margin-bottom: 6px;
}
.label-radio:not(:last-child) {
    margin-right: 14px;
}
.radio-malling-text{
    width: 15px;
    height: 15px;
}
.radio-malling-text::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-right: 8px;
}
.radio:checked~.radio-malling-text::before {
    background-image: url(../svg/form-circle.svg);
}
.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}
.popup-radio-text {
    display: block;
    line-height: 22px;
}
.popup-input {
    margin-bottom: 25px;
    border: none;
    width: 100%;
}
.popup-input__text {
    box-sizing: border-box;
    font-family: inherit;
    margin-top: 12px;
    padding: 14px 22px;
    opacity: 0.6;
    width: 100%;
    height: 126px;
    resize:none;
    border: none;
    background-color: #f4f7f6;
}
.popup-input__text:focus {
    outline: 1px solid #b59f5b;
}
.popup-btn {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    color: #fff;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.popup-btn:hover {
    background-color: #323232;
}
/* tablet */
@media (min-width:641px) and (max-width:1200px) {
    body {
        max-width: 100vw;
    }
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
        padding: 42px 0 116px;
        margin-bottom: 44px;
    }
    .header-wrapper {
        padding: 0 34px;
    }
    .header-logo-img {
        width: 160px;
    }
    .header-title {
        font-size: 2.6rem;
        /* margin: 90px 64px 0; */
        margin: 86px auto 0;
    }
    .header-menu {
        display: flex;
        flex-direction: row-reverse;
    }
    .menu-list {
        display: none;
    }
    .checkbox {
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: block;
        position: relative;
        z-index: -1;
        left: 22px;
        margin-left: 10px;
        opacity: 0;
    }
    .menu-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 22px;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    .menu-btn > span::before {
      content: "";
      top: -8px;
    }
    .menu-btn > span::after {
      content: "";
      top: 8px;
    }
    .checkbox:checked ~ .menu-list {
        display: flex;
    }
    
    .header-title {
        font-size: 2.5rem;
        line-height: 55px;
    }
    .trend-header {
        font-size: 1.1rem;
    }
    .trend-wrapper {
        margin-bottom: 44px;
    }
    .trend-header::after {
        margin: 12px auto 18px;
    }
    .trend {
        flex-wrap: wrap;
    }
    .trend-post {
        width: calc(50% - 2px);
        padding: 72px 22px 16px;
        height: 246px;
    }
    .trend-main {
        padding: 20px 58px 29px 34px;
    }
    .treand-title-link {
        font-size: 1rem;
    }

    .page-wrapper {
        margin-bottom: 12px;
    }
    .main {
        width: 50vw;
        box-sizing: border-box;
    }
    .aside {
        width: 39vw;
        box-sizing: border-box;
    }
    .news {
        display: block;
        box-sizing: border-box;
        width: 392px;
        margin-bottom: 55px;
    }
    .news-img-link {
        box-sizing: border-box;
        width: 392px;
        height: 302px;
    }
    .news-img {
        width: 100%;
        margin-bottom: 10px;
    }
    .news-text {
        margin-left: 4px;
        height: 100%;
    }
    .news-tag-item:not(:first-child) {
        padding-left: 5px;
    }
    .news-name-link {
        font-size: 1rem;
    }
    .news-text-meta {
        margin-bottom: 26px;
    }
    .aside {
        margin-left: 50px;
    }
    .new-posts-top {
        padding-top: 4px;
    }
    .aside-item-mailing {
        margin-top: 58px;
    }
    .tag {
        margin-top: 5px;
    }
    .goods {
        padding: 0 30px;
        flex-wrap: wrap;
        gap: 76px;
        margin-bottom: 25px;
    }
    .goods-item {
        padding-left: 20px;
        width: calc(50% - 53px);
        box-sizing: border-box;
    }
    .goods-item__img {
        width: 292px;
        height: 226px;
    }
    .goods-item__content {
        margin-bottom: 22px;
    }
    .goods_item__title {
        padding-top: 48px;
    }
    .goods-item__border {
        width: 330px;
    }
    .footer {
        padding: 0 30px;
    }
    .social {
        margin-bottom: 45px;
    }
    .popup {
        visibility:visible;
    }
    .popup-btn-close{
        top:-36px;
    }
    .btn-close {
        width: 27px;
        height: 27px;
    }
    .label-radio:not(:last-child) {
        margin-right: 24px;
    }
    .radio-malling-text {
        font-size: 0.9rem;
    }
    .radio-malling-text::before {
        width: 23px;
        height: 23px;
        background-size: 23px;
    }
}
/*  mobile */
@media (max-width:640px) {
    .header {
        padding-top: 30px;
        margin-bottom: 39px;
        padding: 28px 0 214px;
      }
      .header-wrapper {
        /* max-width: 100%; */
        width: 100%;
      }
      .header-logo{
          margin: 0 auto;
      }
      .header-logo-img {
          width: 270px;
      }
      .checkbox {
        display: block;
        position: absolute;
        top: 30px;
        right: 16px;
        width: 23px;
        height: 23px;
        opacity: 0;
      
      }
      .menu-btn {
          position: absolute;
          justify-content: center;
          top: 40px;
          right: 16px;
          cursor: pointer;
          z-index: 1;
          width: 23px;
      }
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
      }
      .menu-btn > span::before {
        content: "";
        top: -8px;
      }
      .menu-btn > span::after {
        content: "";
        top: 8px;
      }
      .checkbox:checked ~ .menu-list {
          display: flex;
          flex-wrap: wrap;
      }
      .menu {
          flex-wrap: wrap;
      }
      .header-menu {
          order: -1;
          margin-bottom: 92px;
          height: 30px;
          box-sizing: border-box;
          width: 100%;
      }
      .menu-list {
         display: none;
      }
      .header-title {
          font-size: 1.6rem;
          line-height: 1.4;
          max-width: 300px;
          margin: 30px auto 0;
      }
      /* //в тренде */
      .trend-wrapper {
          margin: 0 auto 44px;
         }
         .trend-header {
          font-size: 1rem;
         }
         .trend-header::after {
             margin: 8px auto 1.6rem;
         }

         .trend-post {
            flex-wrap: wrap;
            width: 100%;
            padding: 94px 18px 16px;
            /* height: 230px; */
             
         }
         .trend-main {
             padding: 20px 21px 26px;
         }
         .trend-tag {
             margin-top: 23px;
             padding-top: 5px;
             margin-bottom: 5px;
         }
         .trend-tag__link {
             font-size: 0.8rem;
             padding-right: 10px;
         }
         .treand-title-link {
             font-size: 1rem;
         }
         .treand-title-link:hover {
             color: #b59f5b;
         }
         .trend {
             flex-wrap: wrap;
             gap: 3px;
         }
      /* //основная страница */
      .page-wrapper {
          flex-wrap: wrap;
          margin: 0 14px 0;
          padding: 0;
      }
      .main {
          margin-bottom: 66px;
          width: 100%;
      }
      .news{
          flex-wrap: wrap;
          /* padding-left: 14px; */
          padding-top: 4px;
      }
      .news:not(:last-child) {
          margin-bottom: 56px ;
      }
      .news-img {
        width: 100%;
        height: 253px;
      }
      .news-text {
        margin-left: 0;
      }
      .news-tags {
          margin: 12px 0 6px;
          
      }
      .news-tag-item:not(:last-child) {
          margin-right: 18px;
      }
      .news-name {
          font-size: 1rem;
          margin-bottom: 14px;
      }
      .news-name-link {
          line-height: 1.35;
      }
      .news-text-meta {
          margin-bottom: 10px;
      }
      .news-text-about {
          font-size: 0.8rem;
          line-height: 20px;
          /* padding-right: 50px; */
      }
      .news-text-about > p:not(:first-child) {
          margin-top: 10px;
      }
      .aside {
         margin: 0;
         padding: 0;
         max-width: 100%;
      }
      .aside-item {
          /* padding-left: 13px; */
      }
      .new-posts-top {
          font-size: 1rem;
          padding-left: 8px;
      }
      .new-posts-top::after {
          margin: 10px auto 22px;
      }
      .search {
          width: 100%;
      }
      .search-group {
          width: 100% ;
      }
      .search-field {
          
          /* height: 48px; */
      }
      /* рассылка */
      .aside-item-mailing {
          margin-top: 40px;
      }
      .mailing-top {
          font-size: 1rem;
      }
      .mailing-top::after {
          margin: 12px auto 22px;
      }
     
      /* теги */
      .aside-item-tags {
          margin-top: 42px;
      }
      .tags-list {
          margin-left: 14px;
      }
      .tag-link {
          font-size: 0.75rem;
      }
      /* темы */
      .aside-item-themes {
          margin: 42px 0 42px;
      }
      .themes-list {
          /* padding-left: 14px; */
      }
      /* /изделия/ */
      .chapter-goods__title {
          font-size: 1rem;
      }
      .goods {
          flex-wrap: wrap;
          margin-bottom: 20px;
      }
      .goods-item {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 20px;
      }
      .goods-item__img {
          justify-content: center;
          width: 100%;
          margin-bottom: 20px;
          padding-left: 0px;
      }
      .goods-item__border {
          margin-top: -62px;
          width: 324px;
          padding-bottom: 28px;
          margin-left: 0;
      }
      .goods-item__content {
          padding-left: 16px;
      }
      /* footer */
      .social {
          margin-bottom: 46px ;
      }
      /* /// окно */
      .popup {
          /* width: 330px; */
          width: 91.6%;
          top: 20px;
      }
      .btn-close {
          width: 27px;
      }
      .popup-wrapper {
          padding: 0 24px;
      }
      .popup-title {
          font-size: 1rem;
          padding-top: 24px;
          margin-bottom: 26px;
      }
      .popup-select {
          margin-bottom: 30px;
      }
      .popup-radio {
          margin-bottom: 30px;
      }
      .radio-malling-text{
          padding-right: 30px;
      }
      .radio-malling-text::before {
          width: 27px;
          height: 27px;
          background-size: 27px;
      }
      .popup-radio-text {
          line-height: 27px;
      }
      .popup-input {
          margin-bottom: 28px;
      }
      .popup-input__text {
          margin-top: 6px;
          padding-top: 20px;
          width: 95%;
      }
      .popup-btn {
          margin-bottom: 30px;
      }
    }
    @media (max-width:640px) and (orientation:landscape) {
        .trend-post{ 
             width: calc(50% - 2px);
        }
    }