@font-face {
    font-family: OpenSans-Bold;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSans-Regular;
    src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.header {
  height: 450px;
  box-sizing: border-box;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
  padding: 30px 0 133px;
  margin-bottom: 60px;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.header-wrapper {
    max-width: 1200px;
    margin: auto;
}
.header-logo {
    padding-left: 16px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style-type: none;
}
.menu-list {
   display: flex;
   align-items: center;
   padding-right: 15px;
   padding-bottom: 7px ;
}
.menu-list-item:not(:last-child) {
  margin-right: 35px;
}
.menu-link {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}
.menu-link:hover {
    text-decoration: underline;
}
.header-title {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #FFFFFF;
    line-height: 1.6;
    text-align: center;
    max-width: 700px;
    margin: 101px auto 0;
}
.page-wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
}
.main {
    width: 793px;
    margin-bottom: 62px;
}
.news:not(:first-child) {
    margin-top: 50px;
}
.news{
    display: flex;
}
.news-text {
    margin-left: 30px;
}
.news-img {
  padding-left: 7px;
  padding-top: 3px;
}
.news-text {
    margin-left: 30px;
}

.news-tags {
    list-style: none;
}
.news-tag-item:not(:last-child) {
    margin-right: 14px;
}
.news-tag-item {
    display: inline;
}
.news-tag-item:hover {
    text-decoration: underline;
}
.news-tag-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #B59F5B;
}

.news-name {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #0F0D0E;
    line-height: 1.25;
    padding-top: 6px;
    padding-right: 25px;
    margin-bottom: 26px;
}
.news-name-link:hover {
    color:#B59F5B;
}
.news-text-meta {
    margin-bottom: 45px;
}
.news-time {
    font-size: 12px;
    color: #888888;
    margin-right: 7px;
}
.news-author {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #000000;
}
.news-text-about {
    font-size: 15px;
    line-height: 1.5;
    color: #0F0D0E;
}
.news-text-about > p:not(:first-child) {
    margin-top: 10px;
}

.aside {
    margin-left: 118px;
    max-width: 272px;
    padding: 0 1px 1px ;
}
.new-posts-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 8px;
}
.new-posts-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 0;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.new {
    display: flex;
    height: 74px;
    box-sizing: border-box;
    margin-bottom: 17px;
}
.new-post-link {
    padding-left: 2px;
    padding-top: 8px;
}
.new-post {
    padding-left: 17px;
    padding-top: 2px;
}
.new-post-date {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 2px;
}
.new-post-name {
    line-height: 1;
}
.new-post-name-link {
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}

.new-post-name-link:hover {
    color: #B59F5B;
} 

.search {
    /* height: 48px; */
    width: 100%;
    display: flex;
    margin-top: 68px;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.search-field {
    box-sizing: border-box;
    border: none;
    background-color: #f4f7f6;
    color:#000000;
    width: 222px;
    height: 48px;
    padding-left: 19px;
    font-size: 13px;
    line-height: 40px;
    opacity: 0.54;
}
.search-field:focus {
    border: 1px solid #B59F5B;
}
button {
    cursor: pointer;
}
.search-button {
    width: 48px;
    height: 48px;
    background-color: #B59F5B;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 18px;
}
.search-button:hover {
    background-color: #323232;
}

/* рассылка */
.aside-item-mailing {
    margin-top: 60px;
    text-align: center;
}
.mailing-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #0f0d0e;
    text-align: center;
    text-transform: uppercase;
}
.mailing-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 14px auto 22px;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.mailing-field {
    box-sizing: border-box;
    border: none;
    font-size: 13px;
    line-height: 40px;
    width: 100%;
    height: 48px;
    padding-left: 18px;
    background-color: #f4f7f6;
    opacity: 0.54;
    display: block;
}
.mailing-field:focus {
    border: 1px solid #B59F5B
}
.mailing-button {
    margin-top: 18px;
    width: 100%;
    height: 48px;
    background-color: #B59F5B;
    color:#fff;
    border: none;
    font-size: 14px;
    line-height: 40px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
}
.mailing-button:hover {
    background-color: #000000;
}
/* теги */
.aside-item-tags {
    margin-top: 56px;
    text-align: center;
    text-transform: uppercase;
}
.tags-top {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #0f0d0e;
}
.tags-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 11px auto 17px;
    width: 66px;
    height: 3px;
    background-color: #e1d9be;
}
.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.tag {
    border: 3px solid #f3f3f1;
    margin-top: 6px;
    margin-right: 5px;
    /* height: 24px; */
    padding: 3px 14px;
}
.tag:hover {
    border: 3px solid #B59F5B;
}
.tag-link {
    font-size: 12px;
    font-family: OpenSans-Bold, sans-serif;
    color: inherit;
    text-transform: uppercase;
}
/* темы */
.aside-item-themes {
    margin-top: 55px;
}
.themes-top {
    text-align: center;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #0F0D0E;
    line-height: 1.2;
}
.themes-top::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.themes-list {
    list-style: none;
}
.theme {
    margin-top: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEEEEE;
}
.theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    font-size: 14px;
}
.theme-link:hover {
    color: #B59F5B;
}
.theme-link-quantity {
    display: inline-block;
    vertical-align: top;
    color: #B59F5B;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
}
.footer {
    max-width: 1200px;
    margin: auto;
}
.footer-content {
    padding: 0 15px;
}
.social {
    box-sizing: content-box;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    margin-bottom: 70px ;
}
.social-list {   
    list-style: none;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.social-resource:nth-child(2) {
    margin-right: 82px;
    margin-left: 74px;
}

.social_link__img {
    height: 22px;
    width: 22px;
    background-size: cover;
    background-repeat: no-repeat;
}
.copyright {
    font-family: OpenSans-Bold, sans-serif ;
    font-size: 12px ;
    color: #999999;
    text-align: center;
    margin-bottom: 40px;
}

/* //// */
.trend-wrapper {
 max-width: 1660px;
 margin: auto;
 margin-bottom: 58px;
}
.trend-header {
 font-family: OpenSans-Bold, sans-serif;
 font-size: 20px;
 color: #0f0d0e;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 27px;
}
.trend-header::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.trend-post {
    display: flex;
    align-items: flex-end;
    width: 414px;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    z-index: 0;
    justify-content: center;
}
.trend-post::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.trend-main {
    outline: 3px solid #b59f5b;
    width: 363px;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 36px;
    padding-left: 34px;
    box-sizing: border-box;
}
.trend-tag {
    display: flex;
    margin-top: 34px;
    margin-bottom: 5px;
}
.trend-tag__link {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    color:#b59f5b;
    text-transform: uppercase;
    padding-right: 10px;
}
.trend-tag__link:hover {
    text-decoration: underline;
}
.treand-title {
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 290px;
}
.treand-title:hover {
    color: #b59f5b;
}
.trend {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}
.trend-garden {
    background-image: url("../images/trend1.jpg") ;
}
.trend-cheese {
    background-image: url("../images/trend2.jpg")
}
.trend-hike {
    background-image: url("../images/trend3.jpg")
}
.trend-lemonade {
    background-image: url("../images/trend4.jpg")
}
.chapter-goods {
    max-width: 1200px;
    margin: auto;
}
.chapter-goods__title {
    font-size: 20px;
    font-family: OpenSasns-Bold, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
}
.chapter-goods__title::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 25px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.goods {
    display: flex;
    gap: 66px;
    margin-bottom: 65px;
}
.goods-item {
    width: 347px;
}
.goods-item__img {
    display: flex;
    padding-left: 38px;
}
.goods-item__border {
    border: 3px solid #b59f5b;
    margin-top: -30px;
    margin-left: 15px;
    position: relative;
    height: 260px;
    width: 340px;
}
.goods-item__content {
    padding-left: 24px;
    margin-bottom: 23px;
    margin-right: 20px;
}
.goods_item__title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 52px;
}
.goods-item__text {
    width: 301px;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 10px;
}
.goods-item__link {
    color: #b59f5b;
}
.goods-item__link:hover {
    text-decoration: underline;
}
.item-price-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 22px;
    align-items: flex-end;
}
.goods-item__price {
    margin-left: 23px;
    font-family: OpenSasns-Bold, sans-serif;
    text-transform: uppercase;
}
.goods-price-old {
    text-decoration:line-through;
    font-size: 14px;
}
.goods-price-new {
    font-size: 20px;
}
.goods-item__btn {
    width: 140px;
    height: 48px;
    background-color: #B59F5B;
    color:#fff;
    border: none;
    font-size: 14px;
    line-height: 40px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
}
/* /// окно */
.popup {
    margin: auto;
    width: 390px;
    position: fixed;
    top: 240px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}
.popup::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.popup-btn-close {
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
}
.btn-close {
    width: 18px;
    border: none;
    background-color: inherit;
}
.popup-wrapper {
    background-color: #fff;
    padding: 0 30px;
}
.popup-title {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    padding-top: 45px;
    margin-bottom: 24px;
}
.popup-title::after {
    content: "";
    display: block;
    position: relative;
    margin: 10px auto 10px;
    width: 66px;
    height: 3px;
    background-color: #E1D9BD;
}
.popup-form {
    font-size: 13px;
}
.popup-select {
    height: 48px;
    width: 100%;
    background-color: #f4f7f6;
    border: none;
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 35px;
    color:#000000;
    opacity: 0.6;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background-image: url(../svg/form-arrows.svg);
    background-size: 9px;
    background-repeat: no-repeat;
    background-position: right 14px center;
}
.popup-select:focus {
    outline: 1px solid #b59f5b;
}
.popup-radio {
    margin-bottom: 32px;
}
.radio-malling-text{
    padding-right: 17px;
}
.radio-malling-text::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.radio:checked~.radio-malling-text::before {
    background-image: url(../svg/form-circle.svg);
}
.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}
.popup-radio-text {
    line-height: 22px;
}
.popup-input {
    margin-bottom: 25px;
    border: none;
    padding-right: 10px;
}
.popup-input__text {
    font-family: inherit;
    margin-top: 12px;
    padding-top: 20px;
    opacity: 0.6;
    width: 310px;
    height: 110px;
    resize:none;
    border: none;
    background-color: #f4f7f6;
    padding-left: 22px;
}
.popup-input__text:focus {
    outline: 1px solid #b59f5b;
}
.popup-btn {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    color: #fff;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 54px;
}
.popup-btn:hover {
    background-color: #323232;
}